Repository ba-archive/blue-archive, pull requests merged in 2023-09, with the labels that each got.

#159 feat(viewer): 泉剧情
  apps/blue-archive-story-viewer/public/story/favor/10009/100092.json
  apps/blue-archive-story-viewer/public/story/favor/10009/1000920.json
  apps/blue-archive-story-viewer/public/story/favor/10009/100093.json
  apps/blue-archive-story-viewer/public/story/favor/10009/100095.json
  apps/blue-archive-story-viewer/public/story/favor/10009/index.yml
Labels: module: story-player

#160 feat(viewer): 啦啦鸟剧情
  apps/blue-archive-story-viewer/public/config/yaml/momotalk/10009.yml
  apps/blue-archive-story-viewer/public/config/yaml/momotalk/10076.yml
  apps/blue-archive-story-viewer/public/story/favor/10053/index.yml
  apps/blue-archive-story-viewer/public/story/favor/10076/100762.json
  apps/blue-archive-story-viewer/public/story/favor/10076/100763.json
  apps/blue-archive-story-viewer/public/story/favor/10076/100765.json
  apps/blue-archive-story-viewer/public/story/favor/10076/100766.json
  apps/blue-archive-story-viewer/public/story/favor/10076/index.yml
Labels: module: story-player

#170 refact(viewer): 合并StudentStoryViewer和StoryViewer到StoryViewer
  apps/blue-archive-story-viewer/src/components/StoryViewer.vue
  apps/blue-archive-story-viewer/src/components/archive/StudentStoryPlayer.vue
  apps/blue-archive-story-viewer/src/components/story/StoryBriefBlock.vue
  apps/blue-archive-story-viewer/src/route/routes.ts
Labels: module: story-player

#174 feat(player): 允许自定义 fade 节点
  lib/ba-story-player/lib/layers/l2dLayer/L2D.ts
  lib/ba-story-player/lib/layers/l2dLayer/l2dConfig.ts
  lib/ba-story-player/lib/types/l2d.ts
Labels: module: story-player

#175 feat(toolbox): 允许 momotalk 标题跳转
  apps/ba-online-toolbox/src/style.scss
  apps/ba-online-toolbox/src/tools/MomotalkTranslator/MomotalkTranslatorHome.vue
  apps/ba-online-toolbox/src/tools/MomotalkTranslator/components/MessageTranslateUnit.vue
  apps/ba-online-toolbox/src/tools/MomotalkTranslator/components/TitleTranslateUnit.vue
  apps/ba-online-toolbox/src/tools/public/components/CardUnit.vue
Labels: module: momotalk

#176 feat(viewer): quicklink
  apps/blue-archive-story-viewer/package.json
  apps/blue-archive-story-viewer/src/main.ts
  apps/blue-archive-story-viewer/src/vite-env.d.ts
  common/config/rush/pnpm-lock.yaml
Labels: UI

#177 feat(toolbox): momotalk 自动翻译
  apps/ba-online-toolbox/src/tools/MomotalkTranslator/components/MessageTranslateUnit.vue
  apps/blue-archive-story-viewer/public/config/yaml/momotalk/10078.yml
  apps/blue-archive-story-viewer/public/story/favor/10077/100772.json
  apps/blue-archive-story-viewer/public/story/favor/10077/100773.json
  apps/blue-archive-story-viewer/public/story/favor/10077/100775.json
  apps/blue-archive-story-viewer/public/story/favor/10077/100776.json
  apps/blue-archive-story-viewer/public/story/favor/10077/index.yml
  apps/blue-archive-story-viewer/public/story/favor/10078/100782.json
  apps/blue-archive-story-viewer/public/story/favor/10078/100783.json
  apps/blue-archive-story-viewer/public/story/favor/10078/100785.json
  apps/blue-archive-story-viewer/public/story/favor/10078/100786.json
  apps/blue-archive-story-viewer/public/story/favor/10078/index.yml
Labels: module: momotalk
