Repository ba-archive/blue-archive, pull requests merged in 2023-10, with the labels that each got.

#181 fix(player): 修复privateStore没有正确重置的问题
  lib/ba-story-player/lib/index.ts
  lib/ba-story-player/lib/stores/index.ts
  lib/ba-story-player/lib/types/store.ts
Labels: module: story-player

#182 feat(player): 绑定滚轮下滑为播放下一句, close #127
  lib/ba-story-player/lib/layers/uiLayer/userInteract.ts
Labels: module: story-player

#184 feat(player): 允许调节文字播放速度 close #23 #144
  lib/ba-story-player/lib/BaStoryPlayer.vue
  lib/ba-story-player/lib/index.ts
  lib/ba-story-player/lib/layers/textLayer/BaDialog.vue
  lib/ba-story-player/lib/layers/uiLayer/components/BaPlayerSetting/BaPlayerSetting.vue
  lib/ba-story-player/lib/layers/uiLayer/components/BaPlayerSetting/BaPlayerSettingPlaying.vue
  lib/ba-story-player/lib/layers/uiLayer/components/BaPlayerSetting/BaSliderBar.vue
  lib/ba-story-player/lib/layers/uiLayer/components/BaPlayerSetting/settings.ts
  lib/ba-story-player/lib/layers/uiLayer/utils.ts
  lib/ba-story-player/lib/stores/state.ts
  lib/ba-story-player/lib/types/state.ts
  lib/ba-story-player/package.json
Labels: UI, module: story-player

#191 fix(StudentSelector): 改善在浏览器视宽小于 768px 时，学生筛选界面的显示效果
  apps/blue-archive-story-viewer/src/components/archive/StudentSelector.vue
  apps/blue-archive-story-viewer/src/style.scss
Labels: UI

#194 fix(player): 修复特效dispose时机错误的问题 close #193
  lib/ba-story-player/lib/index.ts
Labels: module: story-player

#201 Fix/appear
  lib/ba-story-player/lib/layers/characterLayer/actionPlayer.ts
  lib/ba-story-player/lib/layers/textLayer/BaDialog.vue
  lib/ba-story-player/lib/layers/translationLayer/index.ts
  lib/ba-story-player/lib/layers/translationLayer/utils.ts
Labels: module: story-player

#207 fix(player): fix #187 #206
  lib/ba-story-player/lib/index.ts
  lib/ba-story-player/lib/layers/translationLayer/index.ts
Labels: module: story-player
