Repository ba-archive/blue-archive, pull requests merged in 2023-07, with the labels that each got.

#72 fix rumi l2d
  lib/ba-story-player/lib/layers/l2dLayer/l2dConfig.ts
Labels: module: story-player

#86 feat(toolbox): 剧情翻译界面优化, close #82
  apps/ba-online-toolbox/components.d.ts
  apps/ba-online-toolbox/package.json
  apps/ba-online-toolbox/src/tools/ScenarioEditor/components/TranslateInput.vue
  apps/ba-online-toolbox/src/tools/ScenarioEditor/components/TranslationPane.vue
  apps/ba-online-toolbox/src/tools/ScenarioEditor/store/configStore.ts
  lib/ba-story-player/package.json
Labels: UI, module: story-player

#91 rush rig、增量构建
  apps/ba-online-toolbox/components.d.ts
  apps/ba-online-toolbox/config/rig.json
  apps/ba-online-toolbox/package.json
  apps/ba-story-editor/README.md
  apps/ba-story-editor/config/rig.json
  apps/ba-story-editor/package.json
  apps/blue-archive-story-editor/config/rig.json
  apps/blue-archive-story-editor/package.json
  apps/blue-archive-story-viewer/config/rig.json
  apps/blue-archive-story-viewer/package.json
  common/config/rush/pnpm-lock.yaml
  lib/ba-rig/README.md
  lib/ba-rig/package.json
  lib/ba-rig/profiles/default/config/rush-project.json
  lib/ba-rig/profiles/default/tsconfig-base.json
  lib/ba-story-player/config/rig.json
  lib/ba-story-player/package.json
  rush.json
Labels: UI

#94 更新了未花及水白子的L2D
  lib/ba-story-player/lib/layers/l2dLayer/l2dConfig.ts
Labels: module: story-player
